{{/* Custom view: news-card item row. Events link their event name; posts are plain text. */}}
{{ $item := .item }}
{{ $date := $item.Date | time.Format "01/06" }}

<div class="news-card-row">
  <div class="news-card-date">{{ $date }}</div>
  <div class="news-card-text">
    {{ if eq $item.Type "event" }}
      <a href="{{ $item.RelPermalink }}">{{ $item.Params.event | default $item.Title }}</a>{{ with $item.Params.location }}, {{ . }}{{ end }}.
    {{ else }}
      {{ $item.Params.summary | default $item.Summary | plainify }}
    {{ end }}
  </div>
</div>
